body{
    margin: 0;
}

/* Imagens*/

img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}


.rezende{
    width: 400px;
    height: 400px;
    object-fit:cover;

}

/*Div */

.bgcard{
    align-content: center;
    margin: auto;
    width: 1300px;
    height: 500px;
    border-radius: 10px;
    background-color: rgb(189, 146, 4);
}

.boxcard{
    display: flex;
}

.conteiner{
    
    display: flex;
}

.titulo{
    height: 110px;
    margin-bottom: 150px;
    border-bottom: 2px solid white;
}


.esquerda{
    gap: 5px;
    display: flex;
    flex-direction: column;
    border-right: 3px solid orange;
    background-color: rgb(78, 11, 11);
    width: 400px;
    height: auto;
}

.rezendediv{
   margin-top: auto;
}

.meiocima{
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.totalvideo{
    margin-left: 30px;
    width: 1280px;
    background-color: black;
    display: flex;
    height: 720px;
    justify-content: center;
}

.totalmeio{
    display: flex;
    flex-direction: column;
}
 
.shows{
    align-items: center;
    display: flex;
    height: auto;
    flex-direction: column;
    margin-bottom: 20px;
}


.cards{ 
    margin: auto;
    margin-left: 80px;
    width: 300px;
    height: 300px;
    background-color: black;
}
/* Escrita */



.rezendebio{
    margin-left: 30px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textosmeio{
    margin-bottom: 0;
    margin-left: 30px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.textomenu{
    margin: 20px 200px 10px 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

h1{
    color: white;
    text-align: center;
    margin: 60px auto 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

.temas{
    text-decoration:underline rgb(114, 5, 5);
    margin: 90px auto 120px 60px;
    color: black;
}